* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  .footer {
    background-color: #7f0000;
    color: rgb(205, 172, 172);
    padding: 30px 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    margin-bottom: 30px;
    flex: 1;
    max-width: 220px;
  }
  
  .footer-section h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: rgb(202, 172, 172);
    display: block;
    margin-bottom: 10px;
    transition: color 0.4s ease;
  }
  
  .footer-section ul li a:hover {
    color: #740c00;
  }
  
  .footer-center-content {
    text-align: center;
    margin-top: 15px;
    flex-basis: 100%;
  }
  
  .horizontal-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .horizontal-line a {
    color: rgb(190, 176, 176);
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.4s ease;
  }
  
  .horizontal-line a:hover {
    color: #64206a;
    text-decoration: underline;
  }
  
  .footer-section ul li a i {
    margin-right: 7px;
  }
  