.ripped {
    text-align: center;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #c1c1c1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
  }
  
  a {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #323232;
    text-decoration: none;
  }
  
  button {
    background-color: #580900;
    color: #787878;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #c0392b;
  }
  
  button {
    display: block;
    margin: 0 auto;
}